{% extends "layouts/base.html" %}
{% block tittle%}Agregar estadios - PNLF{% endblock %}
{% block body %}
<div class="row">
    <h4>Listado de estadios</h4>
    <table class="table">
        <thead>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Capacidad</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% if estadios %}
            {% for estadio in estadios %}
              <tr>
                <td>{{ estadio.nombre }}</td>
                <td>{{ estadio.ciudad.nombre }}</td>
                <td>{{ estadio.capacidad }}</td>
                <td class="text-center">
                  <a href="/estadio/editar/{{ estadio.id }}" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                  </a>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete-{{ estadio.id }}">
                    <i class="fa fa-trash"></i>
                  </button>
                  <a href="/estadio/detalles/{{ estadio.id }}" class="btn btn-warning">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
              </tr>
              <div class="modal fade" id="confirmDelete-{{ estadio.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel-{{ estadio.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmDeleteLabel-{{ estadio.id }}">Confirmar eliminacion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ¿Esta seguro que desea eliminar?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <form action="/estadio/eliminar/{{ estadio.id }}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Si</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </tbody>
    </table>   
</div>


{% endblock %}