{% extends "layouts/base.html" %}
{% block title %}Crear Equipo - PNLF{% endblock %}
{% block body %}
<div class="row justify-content-center">
  <div class="col-md-3">
    <h4>Agregar Equipo</h4>
    <form method="post">
    {% csrf_token %}
    {% if form %}
      {% for input in form %}
      <div class="from-group">
        <label>{{ input.label }}</label>
        {{ input }}
      </div>
      {% endfor %}
    {% endif %}
      <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-success form-control">
      </div>
      {% if success %}
      <div class="form-group">
        <div class="alert alert-success" role="alert">
          {{ success }}
        </div>
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}